node_modules
playwright-report
test-results
allure-results
allure-report
.DS_Store
.git
.gitignore
README.md
.vscode
.idea
.continue
*.log
history.jsonl
metadata_tests.json
found_tests.json
test-results.json
test-list.txt
old_test-list.txt
testplan.json
.env
.github
specs
docker-compose*.yml